<section >
  <div class="homeImagebackground" />
  <div class="homeContent textAlignCenter">
    <h1>WELCOME</h1>
    <h3>Follow the Dublin Pub Trail.</h3>
    <div class="btn-group " uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default btn-sm dropDownBar" uib-dropdown-toggle ng-disabled="disabled">
        <div class="dropDownOptions"> {{dropdownHeading}} <span class="caret caretRight"></span> </div>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="dropDownMenu">
        <li ng-repeat="pubtype in pubtypes">
          <a href  ng-click="onClickPubtype(pubtype)">{{pubtype.type}}</a>
        </li>
      </ul>
    </div>
    <button id="idForTrailMeButton" type="button" class="btn btn-default btn-sm trailMeButton has-spinner" ng-class="{'disabled': disableButtons}" ng-click="onTrailMePress()" >  Trail me  <span class="spinner"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
    </button>
  </div>
</section>
<footer class="footer">
  <div class="container footerContent textAlignCenter" >
    <p> HOW IT WORKS </p>
  </div>
</footer>


<!--  <div class="textContent">
        <h1 class="homeNameBackground">WELCOME</h1>

          <h3>Follow the Dublin Pub Trail.</h3>
        </div>

        <div class="dropAndStart">
          <div class="btn-group " uib-dropdown is-open="status.isopen">
                <button 
                    id="single-button" 
                    type="button" 
                    class="btn btn-default btn-sm dropDownBar" 
                    uib-dropdown-toggle ng-disabled="disabled">
                    <div class="dropDownOptions">
                    {{dropdownHeading}} 
                    <span class="caret caretRight"></span>
                    </div>
                    
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" class="dropDownMenu">
                    <li ng-repeat="pubtype in pubtypes">
                        <a href  ng-click="onClickPubtype(pubtype)">{{pubtype.type}}</a>
                    </li>
                </ul>
          </div>

       
          <button id="idForTrailMeButton" type="button" class="btn btn-default btn-sm trailMeButton has-spinner" ng-class="{'disabled': disableButtons}" ng-click="onTrailMePress()" >Trail me  
            <span class="spinner"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
          </button>
        </div>
        <div class="howItWorksSection">
        <div class="howItworks">
          <a  class="howItWorksButton" href ng-click="" >

            <h2>HOW IT WORKS</h2>
          </a>
        </div>
      </div>
       
    </div>
   -->